.donatemainheaderselector{
    background-color: rgb(76, 76, 76);
    width: 100%;
    height: 40vh;
    margin-top: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.donateinnergeneralcontainerselector{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;
}


.donateleftbottomcontainerselector{
    margin-top: 2em;
    margin-bottom: 2em;
}

.donateleftcontainer{
    width: 40%;
    background-color: rgba(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donateleftcontainer form img{
    width: 100%;
    /* height: 15vh; */
}

.donateleftcontainer form input{
    width: 23vw;
    height: 5vh;
}

.donateleftcontainer form input[type='submit']{
    background-color: rgb(45, 12, 178);
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}


.donaterightcontainer{
    width: 40%;
    background-color: rgba(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donaterighttopcontainerselector{
    width: 90%;
}

.donaterightbottomcontainerselector{
    width: 90%;
}

.followus{
    width: 90%;
}

.followus .followusfontawesome .fab{
    color: rgb(45, 12, 178);
    background-color: white;
    font-size: 2rem;
    margin-right: .5em;
}

.followus .followusfontawesome .fas{
    color: rgb(45, 12, 178);
    background-color: white;
    font-size: 2rem;
    margin-right: .5em;
}

.donatelefttopcontainerselector{
    width: 90%;
}

.donateleftbottomcontainerselector{
    width: 90%;
}

.donateleftcontainer form span{
    color: red;
}

.donateleftcontainer form label{
    font-weight: bolder;
}

.donaterightbottomcontainerselector img{
    width: 100%;
}

.donatemainheaderselectorhead1{
    font-size: 2em;
    font-weight: bolder;
}

.donatemainheaderselectorhead2{
    font-size: 1.2em;
}

.donaterightcontainer .donaterightbottomcontainerselector{
    margin-top: 2em;
    margin-bottom: 2em;
}


/* =============================== Donation media query ======================================== */
@media screen and (max-width: 950px){
    .donateinnergeneralcontainerselector{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .donaterightcontainer{
        width: 87%;
        margin-top: .9em;
    }

    .donateleftcontainer{
        width: 87%;
    }

    .donatemainheaderselector{
        text-align: center;
    }

    .donateleftcontainer form input{
        width: 95%;
        height: 5vh;
    }
}
/* ============================================================================================= */
