/* rgb(45, 12, 178) */

/* --------------------------------------------------------------------- */

*{
  font-family: inherit;
}

.whoweareinnercontinerselector .whoweareleftcontainer{
  width: 50%;
}

.whoweareinnercontinerselector .whoweareleftcontainer img{
  height: 50vh;
  width: 100%;
}

.whowearehomegeneraloutercontainer{
  margin-top: 15em;
}

.whowearehomegeneraloutercontainer h1{
  color:  rgb(45, 12, 178);
}

.whoweareDheaderselectors{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.whoweareinnercontinerselector{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4em;
}

.whowearerightcontainer{
  width: 40%;
}

.whoweareheaderselector h3{
  color: rgb(45, 12, 178);
}

/* -------------------------------------------------------- */
.ourmissionvissioninnercontainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ourmissionvissionleftcontainerselector{
  width: 50%;
}

.ourmissionvissionleftcontainerselector img{
  height: 50vh;
  width: 100%;
}

.ourmissionvissionrightcontainerselector{
  width: 40%;
}


.Dvissionvisionselector{
  display: flex;
  justify-content: space-between;
  margin-top: .7em;
  flex-wrap: wrap;
}

.ourmissionvissionheadertext h2{
  color: rgb(45, 12, 178);
}

.ourmissionvissionheadertext{
  text-align: center;
}

.Dvissionvisionselector h3{
  color: rgb(45, 12, 178);
}

/* ---------------------------------------- program statistics styling ----------------------- */
.ourprogramstatisticsdataoutergeneralcontainer{
  background-color: rgb(245, 245, 245);
  width: 100%;
  min-height: 58vh;
  max-height: 100vh;
  margin-top: 5em;
}

.ourprogramdatastatsheaderselector{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 12vh;
}

.programdatastatsheaderbold{
  color: rgb(45, 12, 178);
  font-size: 2rem;
  font-weight: bolder;
}

.Dprogramdata .fas{
  color:  rgb(45, 12, 178);
  font-size: 4rem;
}

.Dprogramdata{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3em;
}


.Dprogramdata aside{
  background-color: white;
  width: 20%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numberbold{
  font-weight: bold;
  font-size: 1.2em;
}
/* ------------------------------------------------------------------------- */


/* ----------------------------------- Gallery styling --------------------------*/
.nyaathaimagegalleryheader{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.nyaathaimagepoutergeneralcontainer{
  margin-top: 5em;
}

.DGallery{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Dgalleryinnercontainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
}

.Dgalleryinnercontainer aside{
  width: 30%;
  margin-top: .8em;
}

.Dgalleryinnercontainer img{
  width: 100%;
  height: 33vh;
}

.nyaathagalleryfilter button{
  width: 10vw;
  height: 6vh;
}

.nyaathagalleryfilter button:hover{
  background-color:  rgb(45, 12, 178);
  color: white;
}

.DGallery{
  margin-top: 2em;
}

.showallfilter{
  background-color:  rgb(45, 12, 178);
  color: white;
}
/* ------------------------------------------------------- */

/* --------------------- ---------------- Our partners styling start from here  ---------------------------------- */
.Ourpartnersoutergeneralcontainer{
    background-color: rgb(245, 245, 245);
    width:100%;
    min-height: 15vh;
    max-height: 100vh;
    margin-top: 7em;
}

.Ourpartnersinnergeneralcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Dpartercontainer{
    min-height: 70%;
}

.Ourpartnersheadertextselector{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(45, 12, 178);
}

.Dpartercontainer aside{
    background-color: white;
    color: rgb(45, 12, 178);
    width: 30%;
    min-height: 25vh;
    font-weight: bolder;
    font-size: 1.7rem;;
}
