/* dark white: rgb(245, 245, 245)
    blue: rgb(45, 12, 178)
    charcoal like: rgb(76, 76, 76)   */

.testimonialheadermainselector{
    background-color: rgb(76, 76, 76) ;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
}

.Dtestionial{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testifierwords{
    margin-top: .9em;
    border-bottom: 7px solid rgb(45, 12, 178);
    background-color: rgb(245, 245, 245);
    padding: .9em .9em;
}

.testimonialbolderfontlarge{
    font-weight: bolder;
    font-size: 2em;
}

.testimonialnormalfontmedium{
    font-size: 1.2em;
}

.tesfiernamebold{
    font-weight: bolder;
}

.testifierwords{
    margin-left: .7em;
}

.testifierwords{
    width: 70%;
}


.testimonialgeneraloutercontainer{
    margin-top: 10em;
}


.testimonialinnergeneralcontainer{
    margin-top: 3em;
}
/* ======================================= Testimonial media query =============================== */
@media screen and (max-width: 980px){
    .testifierwords{
        width: 90%;
    }

    .testimonialheadermainselector{
        text-align: center;
    }
}
/* ================================================================================================ */
